@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
    font-family: LeagueGothic;
    src: url("/assets/fonts/league_gothic/LeagueGothic-CondensedItalic.otf") format("opentype");
    src: url("/assets/fonts/league_gothic/LeagueGothic-CondensedRegular.otf") format("opentype");
    src: url("/assets/fonts/league_gothic/LeagueGothic-Regular.otf") format("opentype");
    src: url("/assets/fonts/league_gothic/LeagueGothic-Regular.otf") format("opentype");
}

.ripley {
    font-family: LeagueGothic-CondensedRegular;
    font-size: 26px;
    font-weight: bold;
    font-style: regular;
    color: white;
}

book {
    @apply border-4
}
